<select name="quiz[materia]" id="materia">
<% var i; for(i=0; i<quiz.subjects.length; i++) {  %>
    <%if (quiz.subjects[i] === quiz.materia) { %>
        <option value="<%= quiz.subjects[i] %>" selected><%= quiz.subjects[i] %></option>
    <% } else { %>
        <option value="<%= quiz.subjects[i] %>"><%= quiz.subjects[i] %></option>
    <% } %>
<% } %>
</select>

<p><label for="preg" class="rem">Pregunta</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" placeholder="Escriba la pregunta" /></p>
<p><label for="resp" class="rem">Respuesta</label>
<input type="text" id="preg" name="quiz[respuesta]" value="<%= quiz.respuesta %>" placeholder="Escriba la respuesta"  /></p>
<p><a href="/quizes"><button type="button">Cancelar</button></a></p>
<input type="submit" value="Salvar" />