<div id="statistics">
    <h1>Estadísticas buscadas de forma poco eficiente (falta de tiempo):</h1>

    <p><span>Número de preguntas: </span><%= cPreguntas %></p>
    <p><span>Número de comentarios totales: </span><%= cComentarios %></p>
    <p><span>Número medio de comentarios por pregunta: </span><%= cComentsPregunta %></p>
    <p><span>Número de preguntas sin comentarios: </span><%= cPregsSinComments %></p>
    <p><span>Número de preguntas con comentarios: </span><%= cPregsConComments %></p>


</div>